
.dev
.settings
.project
/assets/
/protected/config/db-dev.php
.buildpath
/protected/runtime/
/protected/components
/protected/modules/tugii/
/protected/modules/backup/
/protected/modules/install/
/protected/modules/sitemap/
/protected/uploads/
/tests/_output/*
/protected/db/db_backup*
/vendor/
/extra/
